# Dependency directories
/node_modules/

# Compiled binary files
/main-linux

# Logs
/logs/

# Data files that should not be tracked
/data-old
/systems/q-table/data/

# Environment configuration file
.env

# Build output directories
/build/

# Replay files
/replays/

# Ignore specific directories under src/buildOrders
/data/buildOrders/protoss/
/data/buildOrders/terran/
/data/buildOrders/zerg/
/data/buildOrders/scrapedBuildOrders.json
