/node_modules
/replays
package-lock.json
/build
main-linux
/data
/logs
/systems/q-table/data
src/buildOrders/protoss/*
src/buildOrders/terran/*
src/buildOrders/zerg/*
src/buildOrders/scrapedBuildOrders.json

.env
